{
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "yandex",
  "rules": {
    "strict": [2, 'global'],
    "func-names": 0,
    "vars-on-top": 0,
    "no-inner-declarations": 0,
    "no-shadow": 0,
  }
}
